/MugEngineTemplate/MugEngineTemplate/bin/
/MugEngineTemplate/MugEngineTemplate/obj/
/MugEngineTemplate/MugEngineTemplate/.config/
/MugEngineTemplate/MugEngineTemplate/@Data/bin/
/MugEngineTemplate/MugEngineTemplate/@Data/obj/
/MugEngineTemplate/.vs/
/MugEngineTemplate/MugEngineTemplate/MugEngineTemplate.csproj.user